{:splitter
 {:type :recursive
  :params {:size 1000
           :overlap 20}}

 :embedder
 {:type :all-mini-lm-l6-v2
  :params {}}

 :vector-store
 {:type :in-memory
  :params {}}

 :memory
 {:type :window
  :params {:size 10}}

 :prompt-template
 {:type :default
  :params {}}

 :llm
 {:type :llama-cpp
  :params {:model "models/Meta-Llama-3-8B-Instruct.Q4_K_M.gguf"
           :n-ctx 8192}}}