{:splitter
 {:type :recursive
  :params {:size 1000
           :overlap 20}}

 :embedder
 {:type :open-ai
  :params {:model "text-embedding-3-small"}}

 :vector-store
 {:type :in-memory
  :params {}}

 :memory
 {:type :window
  :params {:size 10}}

 :prompt-template
 {:type :default
  :params {}}

 :llm
 {:type :open-ai
  :params {:model "gpt-3.5-turbo-0125"}}}